*:before,
*:after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
}

footer {
  text-align: center;
  height: 100px;
  width: 100%;
  background: #ddd;
}

input {
  display: block;
}

.ct {
  text-align: center;
}

.lt {
  text-align: left;
}

.acap {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.vc {
  display: inline-block;
  vertical-align: middle;
  float: none!important;
}

#resume-view {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2em;
}

#resume-view ul {
  list-style-type: none;
}

#resume-view .top-row {
  display: table;
  padding-bottom: 30px;
  border-bottom: 2px solid #d5d5d5;
}

#resume-view .name {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 4px;
}

#resume-view p {
  font-size: 16px;
  line-height: 22px;
}

#resume-view .summary {
  min-height: 200px;
}

#resume-view .top-header,
#resume-view .top-summary {
  min-height: 120px;
  display: block;
}

#resume-view .top .current-position h2 {
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #d5d5d5;
  line-height: 0.1em;
  margin: 20px auto;
  font-size: 20px;
}

#resume-view .top .current-position h2 span {
  background: #fff;
  padding: 0 16px;
}

#resume-view .top .top-social ul {
  margin: 30px auto;
  list-style-type: none;
  display: block;
}

#resume-view .top .top-social ul li {
  display: inline-block;
  float: left;
  width: 33%;
  text-align: center;
}

#resume-view .top .top-social ul li span {
  margin-left: 20px;
}

#resume-view .body {
  margin-top: 100px;
}

.wrapper-title {
  border-bottom: 2px solid #aaa;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 18px;
  font-size: 22px;
  letter-spacing: 4px;
}

.resume-list {
  border-left: 2px solid #aaa;
  padding-left: 14px;
  list-style-type: none;
}

.resume-list li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 5px solid #fff;
  background-color: #aaa;
  margin-left: -32px;
  margin-bottom: -30px;
  box-sizing: content-box;
}

.resume-list li {
  padding-left: 10px;
  margin-left: 0;
  margin-bottom: 20px;
}

.resume-list li h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

#resume-view .skills-list {
  margin-top: 30px;
}

#resume-view .skills-list .skill {
  display: inline-block;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  font-size: 16px;
  /* background: #d4d4d4; */
  border: 2px solid #c9c9c9;
  border-radius: 20px;
  padding: 4px 14px;
  margin: 10px;
  cursor: pointer;
  color: #454545;
}
